# Node
node_modules

# Dart
.dart_tool
pubspec.lock

# Rust
target

# Java / Kotlin
.settings
*.jar

# Zig
zig-cache
zig-out

# Elixir
.elixir_ls

# Python
venv

# C++
bin

# Other
*.sqlite
*.sqlite3
*.db
.env
uploads
